@define-mixin atSmall{
    @media(min-width : 530px){
        @mixin-content;
    }
}

@define-mixin atMedium{
    @media(min-width : 800px){
        @mixin-content;
    }
}

@define-mixin atLarge{
    @media(min-width : 1010px){
        @mixin-content;
    }
} 

@define-mixin clearfix{
    /*
    
    This will add all the contents after the main row div
*/
    &::after {
        content: "";
        clear: both;
        display: table;
    }

}